<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body bgcolor="#cce6ff">
    <div class="main">
        <center><div class="header"><h1>Aditya Engneering College</h1></div></center>
        <div class="nav">
            <center>
                <a href="layout.html">Home🏠</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="about.html">About🏛</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="events.html">Events✨</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="course.html">Courses📖</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="placement.html">Placements📑</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="contact.html">Contact📞</a>    
            </center>
        </div>
        <center>
        <div class="body">
            <h3>What's Special About AEC</h3>
            <p>Aditya, the premier promoter of quality education in the coastal districts of Andhra Pradesh for the past two decades, 
            leads various institutions ranging from K.G to P.G besides professional colleges like Engineering, Pharmacy and Nursing. 
            Sri Nallamilli Seshareddy as a founder chairman, promoted the educational society in the name and style of Aditya Academy at 
            Kakinada in the year 1984, with a vision and mission to create a platform for holistic growth and success to students at all levels.</p>
            </center>
            <ul>
                <li>PIO (Person of Indian Origin) Status</li>
                <li>MOU with Infosys and other companies</li>
                <li>Technology Business Incubator from DST</li>
                <li>Technical Skill Development Institute - APSSDC</li>
                <li>Campus Placement Training</li>
                <li>MOU with AMCAT,CoCUBES</li>
            </ul>
            <center>
            <table border="1">
                <tr>
                    <th>S.No.</th>
                    <th>Building Name</th>
                    <th>Department/Office</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Cotton Bhavan</td>
                    <td>Administrative Office, Examination Cell, Accounts, Admission Office, ECE.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>K. L. Rao Bhavan</td>
                    <td>Mechanical, Electrical, Petroleum Technology,Mining Engineering and Agricultural Engineering</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bill Gates Bhavan</td>
                    <td>CSE, IT, H&BS, Civil, Management Sciences.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Abdul Kalam Bhavan</td>
                    <td>MCA and Polytechnic Courses.</td>
                </tr>
            </table>
        </div>
        </center>
        <br>
        <br>
        <br>
        <center><div class="footer"><h3>Copyrights by Aditya Engineering College</h3></div></center>
    </div>
</body>
</html>