<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body bgcolor="#cce6ff">
    <div class="main">
        <center><div class="header"><h1>Aditya Engneering College</h1></div></center>
        <div class="nav">
            <center>
                <a href="layout.html">Home🏠</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="about.html">About🏛</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="events.html">Events✨</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="course.html">Courses📖</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="placement.html">Placements📑</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="contact.html">Contact📞</a>  
            </center>
        </div>
        <center>
        <div class="body">
            <p>Aditya Engineering College was established in the academic year 2001-02 under the aegis of Aditya Academy, 
                Kakinada with the approval of AICTE and Affiliated to JNTU with an intake of 180 in three UG Courses in Engineering & Technology.
                The College is situated in an eco-friendly area of 180 acres with thick greenery at Surampalem, Gandepalli Mandal, 
                East Godavari District, Andhra Pradesh. The College is 15 KM away from Samalkot Railway Station on Howrah-Chennai Railway 
                line in South Central Railway. The College is 35 Km away from Kakinada and Rajahmundry on ADB Road.</p>
            <h3>Contact Us</h3>
            <p>Mobile Number : + 91 99498 76662</p>
            <p>Email Id : office@aec.edu.in</p>
            <h3>Send us your Details</h3>
            <form>
                    <table>
                        <tr>
                            <td><Label>Name</Label></td>
                            <td>:<input type="text" name="" placeholder="Enter Your Name"></td>
                        </tr>
                        <tr>
                            <td><Label>Email</Label></td>
                            <td>:<input type="email" name="" placeholder="Enter Your Email"></td>
                        </tr>
                        <tr>
                            <td><Label>Phone Number</Label></td>
                            <td>:<input type="Number" name="" placeholder="Enter Your Phone Number"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name=""></td>
                        </tr>
                    </table>
            </form>
        </div>
        <br>
        <br>
        <br>
        <div class="footer"><h3>Copyrights by Aditya Engineering College</h3></div></center>
    </div>
</body>
</html>