<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body bgcolor=" #cce6ff">
    <div class="main">
        <center><div class="header"><h1>Aditya Engneering College</h1></div></center>
        <div class="nav">
            <center>
                <a href="layout.html">Home🏠</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="about.html">About🏛</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="events.html">Events✨</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="course.html">Courses📖</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="placement.html">Placements📑</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="contact.html">Contact📞</a>  
            </center>
        </div>
        <center>
        <div class="body">
            <h3>The Courses present in the Aditya Educational Institutions</h3></center>
            <ul>
                <li><h5>Aditya Engineering College</h5></li>
                <p>→Aditya, the premier promoter of quality education in the coastal districts of Andhra Pradesh for the past two decades, 
                    leads various institutions ranging from K.G to P.G besides professional colleges like Engineering, Pharmacy and Nursing.</p>
                <li><h5>Aditya B.Pharmacy College</h5></li>
                <p>→Aditya has made its entry into the educational arena with a public school to meet the needs of primary 
                    and secondary education. In succession and with rapid strides, the academy established a number of Junior Colleges, 
                    Degree Colleges, PG Colleges, Engineering Colleges, Pharmacy Colleges, Nursing Colleges, Teacher Training Institutions.</p>
                <li><h5>Aditya Global Business(BBA)</h5></li>
                <p>→The College is situated in an eco-friendly area of 180 acres with thick greenery at Surampalem, 
                    Gandepalli Mandal, East Godavari District, Andhra Pradesh. The College is 15 KM away from Samalkot 
                    Railway Station on Howrah-Chennai Railway line in South Central Railway. The College is 35 Km away from Kakinada and 
                    Rajahmundry on ADB Road.</p>
                <li><h5>Aditya Polytechnic College</h5></li>
                <p>→The college proudly offers 9 UG and 8 PG programmes in engineering, MCA, MBA and MBA (Integrated) with 15 years of 
                    rich standing in the educational era. Besides, the college has added many feathers in its cap which include AA+ Grade by 
                    Careers 360, South India 4th rank by Digital Mailers, South India 6th rank by Silicon India</p>
                <li><h5>Aditya Degree College</h5></li>
                <p>→It is approved by AICTE, recognized by Govt. of Andhra Pradesh, permanently affiliated to Jawaharlal 
                    Nehru Technological University Kakinada (JNTUK) and is accredited by National Assessment And Accreditation Council (NAAC) 
                    with A Grade. The college also received UGC recognition under Sections 2(f) and 12 (B) of the UGC Act.</p>
            </ul>
        </div> 
        <br>
        <br>
        <br>
        <center><div class="footer"><h3>Copyrights by Aditya Engineering College</h3></div></center>
    </div>
</body>
</html>