<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body bgcolor="#cce6ff">
    <div class="main">
        <center><div class="header"><h1>Aditya Engneering College</h1></div></center>
        <div class="nav">
            <center>
                <a href="layout.html">Home🏠</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="about.html">About🏛</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="events.html">Events✨</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="course.html">Courses📖</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="placement.html">Placements📑</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="contact.html">Contact📞</a>   
            </center>
        </div>
        <center>
        <div class="body">
            <h3>Mission</h3></center>
            <p>Achieving academic excellence by providing globally acceptable technical education by forecasting technology through</p>
            <ul>
                <li>Innovative Research And development</li>
                <li>Industry Institute Interaction</li>
                <li>Empowered Manpower</li>
            </ul>
            <center><h3>Vision</h3></center>
            <p>To induce higher planes of learning by imparting technical education with</p>
            <ul>
                <li>International standards</li>
                <li>Applied research</li>
                <li>Creative Ability</li>
                <li>Value based instruction and to emerge as a premiere institute.</li>
            </ul>
            <center><h3>Quality Policy</h3></center>
            <p>Aditya is committed to create and sustain and improve the learning process through Total Quality 
            Management and make itself a seat for scientific and Technological learning with continual improve and team work as its 
            strength for achieving the set objectives.</p>
        </div>
        <br>
        <br>
        <br>
        <center><div class="footer"><h3>Copyrights by Aditya Engineering College</h3></div></center>
    </div>
</body>
</html>