<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body bgcolor=" #cce6ff">
    <div class="main">
        <center><div class="header"><h1>Aditya Engneering College</h1></div></center>
        <div class="nav">
            <center>
                <a href="layout.html">Home🏠</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="about.html">About🏛</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="events.html">Events✨</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="course.html">Courses📖</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="placement.html">Placements📑</a> &nbsp;&nbsp;&nbsp;&nbsp;  
                <a href="contact.html">Contact📞</a>   
            </center>
        </div>
        <center>
        <div class="body">
            <marquee behavior="alternate"><h2 style="color: #2ca6f8;">Admissions are in progress</h2></marquee>
            <img src="p2.webp" height="400px" width="600px">
            <p>Aditya, the premier promoter of quality education in the coastal districts of Andhra Pradesh for the past two decades, 
                leads various institutions ranging from K.G to P.G besides professional colleges like Engineering, Pharmacy and Nursing. 
                Sri Nallamilli Seshareddy as a founder chairman, promoted the educational society in the name and style of Aditya Academy at 
                Kakinada in the year 1984, with a vision and mission to create a platform for holistic growth and success to students at all levels.</p>
        </div> 
        <br>
        <br>
        <br>
        <div class="footer"><h3>Copyrights by Aditya Engineering College</h3></div></center>
    </div>
</body>
</html>